// Import page-specific CSS files here.
@import "home";

.input{
  display:block;
  width:50%;
  padding: 8px 16px;
  font-size: 18px;
  color:gray;
  background-color:white;
  border:1px solid black;
  border-radius: 10px;
}

// .button {
//   display: inline-block;
//   padding: 5px 10px;
//   background-color: indigo;
//   color: white;
// }
