<div>
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="container">
  <h1>BookCHAIN</h1>
  <p> Sleeping is good, reading is even better!</p>
  <li>
    <a href="">get my book</a>
  </li>
</div>
