<div class="bg-center bg-cover min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2580&q=80);">
  <div class='flex justify-center py-96'>
    <button class="w-1/10 m-8 px-8 py-4 rounded-lg text-white bg-indigo-400 bold mx-auto " id="create_button"><%=link_to "Find a book!", books_path(@book) %></button>
  </div>
</div>
