<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
  <div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
    <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
      <path d="M50 0H100L50 100H0L50 0Z"></path>
    </svg>
    <img
      class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
      src="https://media.istockphoto.com/photos/leisure-time-picture-id493151030?b=1&k=20&m=493151030&s=170667a&w=0&h=fR_jxU0NWhkAcAELFFa6lTgmGn1d6rY9LYvUBVpr5uA="
      alt=""
    />
  </div>
  <div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-40 md:px-0 lg:px-8 lg:max-w-screen-xl">
    <div class="mb-16 lg:my-40 lg:max-w-lg">
      <%# <p class="inline-block py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 upercase roupnded-full bg-teal-accent-400">
        Brussels
      </p> %>
      <h1 class="mb-3 font-sans lg:text-7xl font-bold tracking-tight text-gray-900 sm:text-6xl sm:leading-none">
        Books <br/>are meant<br class="hidden md:block" />
        to be shared
      </h1>
      <h2 class="pr-5 mb-5 text-base text-gray-700 md:text-3xl">
        Find thousands of books near you
      </h2>
      <div>
        <button class="inline-flex items-center w-1/10 my-4 px-8 py-4 rounded-full text-white text-xl bg-indigo-400 bold mx-auto " id="create_button"><%=link_to "Find your book!", books_path(@book) %></button>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-24">
  <div class="max-w-xl lg:mb-16 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <%# <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
        Brussels
      </p> %>
    </div>
    <h2 class="max-w-lg mb-6 font-sans lg:text-5xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="d0d83814-78b6-480f-9a5f-7f637616b267" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#d0d83814-78b6-480f-9a5f-7f637616b267)" width="52" height="24"></rect>
        </svg>
        <span class="relative">A</span>
      </span>
      quick guide on how to jump into the Bookbox
    </h2>
  </div>
  <div class="grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-4 sm:grid-cols-2">

    <%# <div class="absolute inset-0 flex items-center justify-center sm:hidden lg:flex">
      <div class="w-px h-full bg-gray-300 lg:w-full lg:h-px"></div>
    </div> %>

    <div class="p-10 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center align-top justify-between mb-2">
        <p class="text-lg font-bold leading-5">Find your next book</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          1
        </p>
      </div>
      <p class="text-sm text-gray-900">
        🔎 Always been dying to read <i>The Stranger</i> by Albert Camus or <i>The Philosopher's stone</i> by J.k Rowling? <br/>Find it in the Bookbox!<br>
      </p>
    </div>

    <div class="p-10 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Give your books a new life</p>
        <p class="flex items-center justify-center w-6 h-6 mb-3 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          2
        </p>
      </div>
      <p class="text-sm text-gray-900">
        📚 Has <i>1984</i> by George Orwell or <i>A mystery room</i> by Nora Roberts been collecting dust on your bookshelf? Swap it!
      </p>
    </div>
    <div class="p-10 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Wait for acceptance</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          3
        </p>
      </div>
      <p class="text-sm text-gray-900">
      ☕ Grab a warm cup of tea and wait for your swap to be accepted.
    </div>
    <div class="p-10 duration-300 transform bg-white border rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Confirm your swap</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          4
        </p>
      </div>
      <p class="text-sm text-gray-900">
        💙 Picked up your book? Let others know by confirming your swap! <br/>Enjoy the read! <br>
      </p>
    </div>
  </div>
</div>
<%# <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
    <div class="mb-16 lg:mb-0 mx-auto lg:max-w-lg lg:pr-5">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Download our App
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Discovering new books and your neighbourhood has never been so easy!
      </div>
      <div class="flex items-center space-x-3">
        <a href="/" class="w-32 transition duration-300 hover:shadow-lg">
          <img src="https://kitwind.io/assets/kometa/app-store.png" class="object-cover object-top w-full h-auto mx-auto" alt="" />
        </a>
        <a href="/" class="w-32 transition duration-300 hover:shadow-lg">
          <img src="https://kitwind.io/assets/kometa/google-play.png" class="object-cover object-top w-full h-auto mx-auto" alt="" />
        </a>
      </div>
    </div>
    <div class="flex items-center justify-center lg:w-1/2">
      <div class="w-1/2 -ml-16 lg:-ml-12">
        <img class="object-fit rounded" src="https://images.unsplash.com/photo-1599202860130-f600f4948364?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXBob25lJTIwYm9va2JveHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" />
      </div>
    </div>
  </div>
</div> %>
