
<button class="flex justify-center bg-indigo-400 mx-auto" id="create_button"><%=link_to "Add a Book", new_book_path %></button>

<div class="index-container my-12 mx-auto px-4 md:px-12">
  <div class="grid-container flex flex-wrap -mx-1 lg:-mx-4">
    <% for book in @books do %>
    <div class="card flex w-full sm:w-1/2 md:w-1/3 lg:my-4 lg:w-1/4">
      <div class="image-container w-32 min-height-48 overflow-hidden rounded-lg shadow-lg">
        <img alt="Placeholder" class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://picsum.photos/600/400/?random">
      </div>
      <div class="info-container w-40 items-center leading-tight md:p-4">
        <h6 class=""><%=link_to book.title, book_path(book) %></h6>
        <h6 class=""><%=book.author %></h6>
      </div>
    </div>
      <% end %>
  </div>
</div>
