<div class="h-screen">
  <div class="px-3 h-fit text-gray-800">

    <div class="p-2 font-normal">
      <%= link_to books_path do %>
        <div class="border border-slate-300 hover:border-indigo-300 p-2 w-max rounded-full justify-start space-x-2 place-items-center flex text-indigo-500/50 hover:text-indigo-600">
          <i class="fa-solid fa-circle-left"></i>
          <p class="flex-initial ">back</p>
        </div>
      <% end %>
    </div>

    <div class="m-auto w-1/2">
      <div class="flex-row items-center bg-white font-bold rounded p-4">
        <h1 class='text-2xl text-center align-center text-indigo-400 '>PLEASE SELECT A BOOK TO SWAP</h1>
      </div>
      <div class="flex-row items-center m-auto w-1/2 bg-white rounded shadow p-8 ">
        <%= simple_form_for([@book, @swap]) do |f| %>
          <div class="form-inputs">
            <%= f.input :book_id, collection: @mybooks, input_html: {class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700'}%>
          </div>
          <div class="form-actions mt-6">
            <%= f.submit "Confirm Swap", class:'bg-indigo-400 hover:bg-indigo-300 shadow appearance-none border rounded w-full py-2 px-3 text-white font-bold' %>
          </div>
        <% end %>
      </div>
    </div>



  </div>
</div>
